.footer-container {
  display: flex;
  padding: 20px 0;
}

.grid {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-bottom: 8px;
}
a {
  text-decoration: none;
  padding-left: 4px;
  color: #a38e80;
}
